.all-news {
  margin-bottom: 18rem;
}

.all-news__filter {
  margin-bottom: 9.7rem;
}

.all-news__list {
  margin-bottom: 6rem;
}

.all-news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 2rem;
}

.all-news__button {
  margin: 0 auto;
}

.all-news__search-input {
  width: 100%;
  height: 100%;
  padding: 2.3rem 3.1rem;
  border-radius: 2rem;
  border: 1.3px solid #c7c7c7;
  font-size: 1.8rem;
  line-height: 140%;

  &::placeholder {
    color: #1c1c1c;
  }
}

.all-news__search {
  position: relative;
  width: 56rem;
  height: 7.8rem;

  &::after {
    content: '';
    position: absolute;
    top: 2.4rem;
    right: 3.2rem;
    width: 3rem;
    height: 3rem;
    background-image: url('./assets/images/icon/search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
