.all-news {
  margin-bottom: 8rem;
}

.all-news__reset {
  border-radius: 1rem;
  margin-left: auto;
  border: 1.3px solid #c7c7c7;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.all-news__filter {
  margin-bottom: 9.7rem;
}

.all-news__row {
  margin-bottom: 9.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.all-news__input {
  &.input_date {
    padding: 0 3.1rem 0 0;
    .input__field {
      padding: 2.3rem 3.1rem;
      width: 100%;
    }
  }
}

.all-news__list {
  margin-bottom: 6rem;
  .news-page & {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
  }
}

.all-news__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem 2rem;
}

.all-news__button {
  margin: 0 auto;
  height: 6.5rem;
}

.all-news__search-input {
  width: 100%;
  height: 100%;
  padding: 2.3rem 3.1rem;
  border-radius: 2rem;
  border: 1.3px solid #c7c7c7;
  font-size: 1.8rem;
  line-height: 140%;

  &::placeholder {
    color: #1c1c1c;
  }
}

.all-news__search {
  position: relative;
  width: 56rem;
  height: 7.8rem;

  &::after {
    content: '';
    position: absolute;
    top: 2.4rem;
    right: 3.2rem;
    width: 3rem;
    height: 3rem;
    background-image: url('./assets/images/icon/search.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 48em) {
  .all-news {
    .news-page & {
      &__list {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }
      &__row {
        margin-bottom: 6.3rem;
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
      }
      &__search-box {
        flex: 1 1 auto;
      }
      &__button {
        min-width: 28rem;
        height: 10rem;
      }
    }
  }

  .all-news__reset {
    display: none;
  }
}
@media (min-width: 48em) {
  .all-news {
    &__filters-btn {
      display: none;
    }
  }
}
