.card-news {
  display: flex;
  flex-direction: column;
  width: 56rem;
  border-radius: 2rem;
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  .mark {
    padding: 1.3rem 2.4rem 1rem 2.4rem;
  }
}

.card-news__img-wrap {
  display: flex;
  height: 57.8rem;
  border-radius: 2rem;
}

.card-news__img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.card-news__info {
  flex: 1;
  justify-content: space-between;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
}

.card-news__inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.card-news__heading {
  font-weight: 400;
}

.card-news__date {
  font-size: 1.8rem;
  line-height: 140%;
  font-weight: normal;
  color: #808080;
}

.card-news__description {
  flex: 1;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  font-size: 2.5rem;
}

.card-news__link {
  &::after {
    content: "";
    display: block;
    width: 13.4rem;
    height: 1.4rem;
    background-image: url("./assets/images/icon/arrow-right-black.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

@media (max-width: 48em) {
  .card-news {
    width: 100%;
    border-radius: 2.4rem;
    .mark {
      padding: 1.5rem 2.8rem 1rem 2.8rem;
      border-radius: 2rem;
    }
  }

  .card-news__img {
    max-height: 40rem;
  }

  .card-news__date {
    font-size: 2.4rem;
  }

  .card-news__img-wrap {
    height: 40rem;
  }

  .card-news__img,
  .card-news__img-wrap {
    border-radius: 2.4rem;
  }

  .card-news__link {
    &::after {
      width: 16.99rem;
      height: 1.776rem;
      transform: translateY(-0.7rem);
    }
  }

  .card-news__description {
    font-size: 3.2rem;
    gap: 2.536rem;
  }
}
