.header {
    margin-bottom: 4rem;
    padding-top: 1.6rem;
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        &-inner {
            display: flex;
        }

        &-geo {
            font-size: 1.8rem;
            position: relative;
            line-height: 140%;
            padding-left: 3.6rem;
            margin-right: 3.2rem;
            &::before {
                position: absolute;
                content:'';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(./assets/images/icon/geo-pin.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }

        &-market {
            font-size: 1.8rem;
            line-height: 140%;
            
        }

        &-lessor {
            font-size: 1.8rem;
            line-height: 140%;
            margin-right: 3.2rem;
        }

        &-phone {
            font-size: 1.8rem;
            position: relative;
            line-height: 140%;
            padding-left: 3.6rem;
            margin-right: 3.2rem;
            &::before {
                position: absolute;
                content:'';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(./assets/images/icon/phone-pin.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        &-logo {
            width: 19.1rem;
            height: 6.6rem;
            margin-right: 4rem;
        }

        &-catalog {
            border-radius: 2rem;
            background:  #ED1E79;
            width: 19.6rem;
            height: 6.5rem;
            display: flex;
            justify-content: center;
            align-items:center;
            color:#fff;
            line-height: 138.889%;
            font-size: 1.8rem;
            margin-right: 4rem;
            span {
                display: block;
                position: relative;
                padding-left: 3.6rem;
                &::before {
                    position: absolute;
                    content:'';
                    width: 2.4rem;
                    height: 2.4rem;
                    background-image: url(./assets/images/icon/search-status.svg);
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                }
            }
        }

        &-form {
            position: relative;
            margin-right: 3.4rem;
            &::before {
                position: absolute;
                content:'';
                width: 3rem;
                height: 3rem;
                background-image: url(./assets/images/icon/search.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                top: 50%;
                right: 3.2rem;
                transform: translate(0, -50%);
            }
            input {
                width: 61.5rem;
                height: 6.6rem;
                padding: 2.4rem 3.2rem;
                border-radius: 2rem;
                background:  #FFF;
                border: none;
                color:#808080;
                font-size: 1.8rem;
                line-height: 140%;
            }
        }

        &-lists {
            display: flex;
        }

        &-item {
            font-size: 2rem;
            line-height: 125%;
            display: inline-block;
            margin-right: 3.2rem;
        }
        &-item:last-child {
            margin-right: 0;
        }
    }
    &__top-mob {
        display: none;
    }

    &__bottom-mob {
        display: none;
    }

    
}


@media (max-width: 48em) {

 .header {
    &__top {
        display: none;
    }

    &__top-mob {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.4rem;
        &-geo {
            width: 4.8rem;
            height: 4.8rem;
            display: block;
        }

        &-logo {
            display: block;
            width: 21.6rem;
            height: 7.6rem;
        }

        &-phone {
            width: 4.8rem;
            height: 4.8rem;
            display: block;
        }
    }

    &__bottom {
        display: none;
    }

    &__bottom-mob {
        display: flex;
        align-items: center;

       
         &-burger {
            display: flex;
            justify-content: center;
            align-items:center;
            padding: 1.8rem;
            width: 8.4rem;
            height: 8.4rem;
            border-radius: 2rem;
            background:  #ED1E79;
            position: relative;
            transition-duration: 1s;
            cursor: pointer;
            margin-right: 1.6rem;
            z-index: 4;
            span {
                height: 0.4rem;
                width: 4rem;
                background-color: #fff;
                border-radius: 5rem;
                position: absolute;
                transition-duration: .25s;
                transition-delay: .25s;    
                &::before {
                    left: 0;
                    position: absolute;
                    top: -7px;
                    height: 0.4rem;
                    width: 4rem;
                    background-color: #fff;
                    border-radius: 5rem;
                    content: "";
                    transition-duration: .25s;
                    transition: transform .25s, top .25s .25s;
                }
    
                &::after {
                    left: 0;
                    position: absolute;
                    top: 7px;
                    height: 0.4rem;
                    width: 4rem;
                    background-color: #fff;
                    border-radius: 5rem;
                    content: "";
                    transition-duration: .25s;
                    transition: transform .25s, top .25s .25s;
                }
            }
    
         
        }

        &-burger.open {
            span {
                transition-duration: 0.1s;
                transition-delay: .25s;
                background: transparent;
            }
            span:before {
                transition: top .25s, transform .25s .25s;
                top: 0px;
                transform: rotateZ(-45deg);
            }
            span:after {
                transition: top 0.4s, transform .25s .25s;
                top: 0px;
                transform: rotateZ(45deg);
            }
        }

        &-search {
            width: 61rem;
            height: 8.4rem;
            position: relative;
            &::before {
                position: absolute;
                content:'';

            }
            input {
                width: 100%;
                height: 100%;
                padding-left: 4rem;
                padding-right: 4rem;
                border-radius: 2rem;
                background:  #FFF;
                font-size: 2.8rem;
                line-height: 135.714%;
                &::placeholder {
                    color:  #9293B0;
                }
            }
            
        }
    
    }

    .open-nav {
        left: 0;
        top: 0;
        padding-top: 30rem;
        transition: left 0.5s;
    }

 }   
}


