.news-main {
  margin-bottom: 18rem;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}

.news-main__wrapper {
  display: grid;
  grid-template-columns: 1fr 87rem 1fr;
  grid-template-rows: min-content 1fr;
  width: 100%;
}

.news-main__left-column {
  grid-row: 1/-1;
  padding: 17.3rem 0 6.5rem;
  border-right: 1px solid #c7c7c7;
}

.news-main__center-top-column {
  grid-column: 2/-1;
  display: flex;
  border-bottom: 1px solid #c7c7c7;
}

.news-main__center-column {
  grid-column: 2/3;
  grid-row: 2/-1;
}

.news-main__right-column {
  border-left: 1px solid #c7c7c7;
}

.news-main__title {
  max-width: 87rem;
  padding: 10rem 10rem 10rem 4.7rem;
  font-size: 7.4rem;
  line-height: 9.4rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.news-main__list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 10.3rem 7.7rem 10.3rem 17.6rem;
  border-left: 1px solid #c7c7c7;
}

.news-main__item {
  font-size: 1.6rem;
  line-height: 100%;
  text-transform: uppercase;
}

.news-main__info,
.news-main__more-wrapper {
  font-size: 2.5rem;
}

.news-main__more-inner {
  display: flex;
  align-items: center;
  gap: 6.85rem;
}

.news-main__info {
  padding: 10rem 18.8rem 9rem;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
}

.news-main__more-wrapper {
  padding: 10.2rem 25.35rem 10.2rem 25.3rem;
  min-width: 36.35rem;
}

.news-main__more-info {
  flex-shrink: 0;
  display: block;
  width: 16.4rem;
  color: #949494;
}

.news-main__arrow-img {
  width: 13.2rem;
}

.news-main__img-wrapper {
  margin: 0 1rem;
}

.news-main__img {
  max-width: 50.5rem;
  border-radius: 2rem;
  object-fit: cover;
}

.news-main__img-left {
  margin-bottom: 6.5rem;
  margin-left: auto;
}

.news-main__img-right {
  margin-top: 1rem;
}

.news-main__text-logo {
  width: 18.7rem;
  height: 6.2rem;
  margin-left: auto;
  margin-right: 17.2rem;
}

@media (max-width: 48em) {
  .news-main {
    margin-bottom: 6.4rem;
  }

  .news-main__wrapper {
    display: block;
  }

  .news-main__title {
    max-width: 60.6rem;
    padding: 3.2rem 0;
    margin: 0 auto;
    font-size: 6.4rem;
    line-height: 100%;
  }

  .news-main__center-top-column {
    border: none;
  }

  .news-main__left-column,
  .news-main__right-column,
  .news-main__more-wrapper,
  .news-main__info,
  .news-main__list {
    display: none;
  }
}
