.p-map {
    margin-bottom: 20rem;
    
    .container {
        position: relative;
        overflow: hidden;
    }

    &__content-block {
        display: flex;
        justify-content: center;
        align-items:center;
        border-radius: 2rem;
        border: 1.3px solid  #C7C7C7;
        margin: 0 auto;
        margin-bottom: 9.6rem;
        position: relative;
       
    }
    &__zoom {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0rem;
        top: 10rem;
        z-index: 3;
        &-plus {
            margin-bottom: 1.6rem;
        }
        &-plus,
        &-minus {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items:center;
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
            border: 1.3px solid #1C1C1C;
            font-size: 2rem;
            font-weight: bold;
            &:hover {
                transition: 0.2s;
                background: #1C1C1C;
                color: #fff;
            }

        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15.3rem;
    }

    &__title {
        color: #1C1C1C;
        font-size: 7.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 9.4rem;
        text-transform: uppercase;
    }

    &__block {
        display: flex;
        align-items:center;

        &-text {
            font-size: 1.6rem;
            text-transform: uppercase;
            margin-right: 2.4rem;
        }
    }

    &__floors {
        display: flex;
        align-items:center;
    }

    &__floor {
        display: flex;
        justify-content: center;
        align-items:center;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        border: 0.1rem solid #1C1C1C;
        margin-right: 2.4rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 9.4rem;
        text-transform: uppercase;
        cursor: pointer;

    }

    &__floor.active {
        border: 0.1rem solid #F1CF57;
        background:  #F1CF57;
        color: #FFF;
    }

    &__content {
        display: none;
        justify-content: center;
        align-items:center;
    

        svg {
            
            g.active {
                path {
                    fill: #F6559B;
                    transition: 0.2s;
                }
            }

            g.hover-g {
                    cursor: pointer;
                    path {
                        fill: #F8DE81;
                        transition: 0.2s;
                    }
                
        
            }
        }

      
    }

    &__content.active {
        display: flex;
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 5rem;
    }

    &__item {
        border-radius: 2rem;
        background: #FFF;
        display: flex;
        justify-content: center;
        align-items:center;
        width: 32rem;
        height: 7.8rem;
        cursor: pointer;
        &-icon {
            width: 3rem;
            height: 3rem;
            margin-right: 1.6rem;
        }

        &-text {
            font-size: 1.8rem;
        }
    }

    &__item.active {
        background:  #F1CF57;
        .p-map__item-text {
            color: #fff;
        }

        .p-map__item-icon {
            svg {
                fill: #FFF;
            }
        }
    }

    &__floor:last-child {
        margin-right: 0;
    }

    .g-bank.active {
        path {
            fill: #F8DE81;
            transition: 0.2s;
        }
        
    }

    &__box {
        border-radius: 2rem;
        background: #FFF;
        width: 100%;
        padding: 5rem;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        z-index: -1;
        &-mob {
            display: none;

           
        }

        &-desk {
            display: flex;
            align-items: center;
            &-inner {
                display: flex;
                margin-right: 3.2rem;
            } 

            &-block {
                display: flex;
                flex-direction: column;
            }

            &-floor {
                display: flex;
                padding: 1.6rem 2.4rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                border: 0.1rem solid  #1C1C1C;
                font-size: 1.8rem;
                height: 4.5rem;
                margin-right: 3.2rem;

            }

            &-frame {
                display: flex;
                padding: 1.6rem 2.4rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                border: 0.1rem solid  #1C1C1C;
                font-size: 1.8rem;
                height: 4.5rem;
            }

            &-title {
                font-size: 4rem;
                font-style: normal;
                font-weight: 600;
                margin-bottom: 1.6rem;
            }

            &-category {
                border-radius: 1.6rem;
                background:  #F1CF57;
                height: 4.2rem;
                padding: 1.6rem 2.4rem;
                color: #FFF;
                font-size: 1.4rem;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items:center;
            }

            &-logo {
                margin-left: auto;
                width: fit-content;
                height: fit-content;
                max-height: 5.6rem;
                margin-right: 3.2rem;
                img {
                    object-fit: contain;
                    width: auto;
                    height: 6.6rem;
                }
            }

            &-link {
                color:  #1C1C1C;
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 800;
                line-height: 138.889%;
                padding-bottom: 3rem;
                position: relative;
                &::before {
                    position: absolute;
                    content:'';
                    width: 13.4rem;
                    height: 1.4rem;
                    background-image: url(./assets/images/icon/arrow-right-black.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    bottom: 0;
                }
            }
        }
    }

    &__box.active {
        z-index: 1;
        opacity: 1;
    }

    &__searh-inner {
        
    }

    &__searh-input {
        width: 100%;
        border-radius: 2rem;
        border: 1.3px solid  #C7C7C7;
        background: none;
        padding: 2.4rem 3.2rem;
        color:  #1C1C1C;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        display: block;
        height: 7.8rem;
    }

    &__searh-input-block {
        position: relative;
        height: 7.8rem;
        &::before {
            position: absolute;
            content:'';
            width: 3.2rem;
            height: 3.2rem;
            background-image: url(./assets/images/icon/search.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 3.2rem;
            top: 2.4rem;
            
        } 

    }

    &__searh-down {
        padding: 3.2rem;
        border-radius: 20px;
        border: 1px solid  #C7C7C7;
        display: flex;
        flex-wrap: wrap;
       
    }

    &__searh-down.active {
        display: flex;
    }

    &__searh-down-block {
        margin-right: 13.7rem;
        margin-bottom: 3.2rem;
    }

    &__searh-down-block:nth-child(4n) {
        margin-right: 0;
    }

    &__searh-down-block-box-item {
        margin-bottom: 2.4rem;
        color:  #ED1E79;
        font-size: 1.8rem;
        cursor: pointer;
        
    }

    &__searh-down-item  {
        color: #1C1C1C;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 1.6rem;
        list-style: none;
        display: block;
        position: relative;
        padding-left: 8.2rem;
        cursor: pointer;
    }

    &__searh-down-item--floor {
       span {
        position: absolute;
        left: 0;
       }
    }

    &__searh-down-block-box-item-arrow {
        display: none;
    }

}


@media (max-width: 48em) {
    .p-map {
        margin-top: 2.4rem;
        &__content {
            overflow: hidden;
        }

        &__content-block {
            width: 100%;
            height: 50rem;
            overflow: hidden;
        }

        &__box {
            
            &-desk {
                display: none;
            }

            &-mob {
                display: flex;
            }

            &-mob-block {
                margin-right: 7rem;
            }

            &-mob-block:last-child {
                margin-right: 0;
            }

            &-mob-title {
                font-size: 3rem;
                margin-bottom: 1rem;
            }

            &-mob-link {
                font-size: 2rem;
                position: relative;
                padding-bottom: 1rem;
                width: fit-content;
                &::before {
                    position: absolute;
                    content:'';
                    width: 100%;
                    height: 0.2rem;
                    bottom: 0;
                    background-image: url(./assets/images/icon/arrow-mob-down-w.svg);
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }

            &-mob-close {
                position: absolute;
                right: 5rem;
                top: 2rem;
                width: 2rem;
                height: 2rem;

            }

            &-mob-block-w {
                display: flex;
                margin-bottom: 3rem;
            }

            &-mob-logo {
                max-height: 20rem;
                max-width: 30rem;
               img {
                width: 100%;
                height: auto;
               }
            }


        }

        &__zoom {
            position: initial;
            flex-direction: initial;
        }

        &__inner {
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
            font-size: 6.4rem;
            margin-bottom: 6.4rem;
        }

        &__zoom-plus {
            margin-right: 2rem;
        }

        &__zoom-plus,
        &__zoom-minus {
            margin-bottom: 0;
            width: 8rem;
            height: 8rem;
            border-radius: 2rem;
            font-size: 3.2rem;

        }

        &__block-text {
            font-size: 2.4rem;
            margin-right: 4rem;
        }

        &__floor {
            margin-right:  2rem;
            width: 8rem;
            height: 8rem;
            border-radius: 2rem;
            font-size: 3.2rem;
        }

        &__item {
            border-radius: 3.2rem;
            padding: 0;
            width: 12.8rem;
            height: 9.2rem;
            &-text {
                display: none;
            }

            &-icon {
                margin-right: 0;
                width: 6rem;
                height: 6rem;
            }
        }

        &__searh-input-block {
            height: 10.4rem;
            width: 100%;
            &::before {
                width: 4.8rem;
                height: 4.8rem;
                top: 2.2rem;
                right: 4rem;
            }
            
        }

        &__searh-input {
            padding: 3.2rem 4rem;
            height: 10.4rem;
            width: 100%;
            border-radius: 3.2rem;
            font-size: 2.4rem;
        }

        &__searh-down {
            border-radius: none;
            border: none;
            padding: 0;
            padding-top: 6.4rem;
            flex-direction: column;
        }

        &__searh-down-block-box {
            border-radius: 3.2rem;
            border: 1.3px solid  #C7C7C7;
            height: 10.4rem;
            display: flex;
            justify-content: flex-start;
            align-items:center;
            padding-left: 4rem;
            padding-right: 4rem;
            position: relative;


        }

        &__searh-down-block-box-item {
            color:  #1C1C1C;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            font-size: 2.4rem;
            margin-bottom: 0;
            transition: 0.2s;
        }

        &__searh-down-block {
            margin-right: 0;
        }

        &__searh-down-lists {
            border-radius: 3.2rem;
            border: 1.3px solid  #C7C7C7;
            padding: 6.4rem;
        }

        &__searh-down-item {
           margin-bottom: 4.8rem;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            padding-left: 14.2rem; 
        }

        &__searh-down-item--floor  {
            padding-left: 0;

            span {
             position: initial;
               display: initial;
               width: fit-content;
               margin-right: 5.6rem;
                
            }
        }


        &__searh-down-block-box-item-arrow {
            position: absolute;
            width: 4rem;
            height: 4rem;
            top: 3rem;
            right: 4rem;
            display: block;
            transition: 0.2s;
            svg {
                width: 4rem;
                height: 4rem;
                fill: none;
               path {
                stroke: #1C1C1C;
               }
            }
        }

        &__searh-down-block-box.active {
            .p-map__searh-down-block-box-item {
                color:  #ED1E79;
                transition: 0.2s;

            }

            .p-map__searh-down-block-box-item-arrow {
                svg {
                    width: 4rem;
                    height: 4rem;
                    fill: none;
                    transform: rotate(180deg);
                    transition: 0.2s;
                   path {
                    stroke: #ED1E79;
                   }
                }
            }
            
        }
    }

}