.market-box {
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
    width: 100%;
    &__desk {
      display: flex;
      justify-content: space-between;
      align-items:center;
    }

    &__block {
       display: flex;
       align-items:center;
    }

    &__image {
       margin-right: 2.4rem;
        img {
            object-fit: contain;
           
        }
    }

    &__title {
        display: flex;
        flex-direction: column;

        strong {
            display: block;
            font-size: 2.5rem;
            margin-bottom: 1.6rem;
        }

        span {
            display: block;
            font-size: 1.8rem;
        }
    }

    &__inner {
        display: flex;
    }

    &__float {
        margin-right: 7.7rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/float.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__geo {
        
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/geo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__teg {
        border-radius: 1.6rem;
        background:  #ED1E79;
        padding: 1.6rem 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.4rem;
        width: fit-content;
    }

    &__link {
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.5rem;
        position: relative;
        padding-bottom: 3rem;
        display: block;
        &::before {
            position: absolute;
            content:'';
            width: 13.4rem;
            height: 1.4rem;
            background-image: url(./assets/images/market-box/next-link.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            bottom: 0;
        }
    }
}


.market-box:first-child {
    border-top: none;
}

.market-box:last-child {
    border-bottom: none;
}


.market-box-b {
    border-radius: 2rem;
    width: 56rem;
    display: flex;
    flex-direction: column;
    background:  #FFF;
    margin-right: 2rem;
    padding: 4rem;
    margin-bottom: 2rem;
    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__icon {
        height: 6.6rem;
        margin-bottom: 2.4rem;
        
        img {
            height: 100%;
            width: auto;
        }
    }

    &__title {
        strong {
            display: block;
            font-size: 2.5rem;
            margin-bottom: 1.6rem;
        }

        span {
            display: block;
            font-size: 1.8rem;
        }
    }

    &__link {
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.5rem;
        position: relative;
        padding-bottom: 3rem;
        display: block;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 13.4rem;
            height: 1.4rem;
            background-image: url(./assets/images/market-box/next-link.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            bottom: 0;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3.2rem;
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 1.4rem;
        color:#fff;
        border-radius: 1.6rem;
        background:  #F1CF57;
        height: 3.8rem;
        margin-right: 0.8rem;
        padding: 1.4rem 2.8rem;
        margin-bottom: 0.8rem;
    }


    &__float {
        margin-right: 7.7rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/float.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__geo {
        
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/geo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        align-items:center;
    }

    &__status {
        border-radius: 1.6rem;
        background:  #ED1E79;
        padding: 1.6rem 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.4rem;
        width: fit-content;
    }
}

.market-box-b:nth-child(3n) {
    margin-right: 0;
}