.market-box {
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: block;
    &__desk {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    &__block {
        min-width: 54.2rem;
        max-width: 54.2rem;
        max-height: 14.2rem;
    }

    &__image {
        img {
            object-fit: contain;
        }
    }

    &__inner {
        display: flex;
    }

    &__float {
        margin-right: 7.7rem;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/float.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__geo {
        
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        position: relative;
        padding-left: 3.8rem;
        height: fit-content;
        &::before {
            position: absolute;
            content:'';
            width: 3rem;
            height: 3rem;
            background-image: url(./assets/images/market-box/geo.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__teg {
        border-radius: 1.6rem;
        background:  #ED1E79;
        padding: 1.6rem 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 1.4rem;
    }

    &__link {
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 2.5rem;
        position: relative;
        padding-bottom: 3rem;
        display: block;
        &::before {
            position: absolute;
            content:'';
            width: 13.4rem;
            height: 1.4rem;
            background-image: url(./assets/images/market-box/arrow.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            bottom: 0;
        }
    }
}