<section class="application">
    <div class="container">
        <div class="application__wrapper">
            <div class="application__left">
                <div class="application__left-title">
                    Заявка на аренду
                </div>
                <div class="application__left-text">
                    Крупнейший в Москве мебельный центр Миллион мелочей — это 3 этажа эффективных торговых площадей, организованных таким образом, чтобы гарантировать максимально комфортные рабочие условия для арендаторов и обеспечить высокий уровень проходимости каждого магазина, вне зависимости от места его расположения!
                </div>
                <form action="" class="form">
                   
                        <div class="form__inner">
                            <input type="text" placeholder="Имя">
                            <input type="text" placeholder="E-mail">
                        </div>
                        <div class="form__inner">
                            <input type="text" placeholder="Телефон">
                            <input type="text" placeholder="Площадь">
                        </div>
                        <div class="form__inner form__inner--big">
                            <input type="text" placeholder="Название компании">
                        </div>
                        <div class="form__inner">
                            <textarea placeholder="Область деятельности"></textarea>
                        </div>
                </form>
            </div>
            <div class="application__right">

            </div>
        </div>
    </div>
</section>