<section class="catalog">
    <div class="container">
        <div class="category">
            <a href="#">Главная</a>
            <a href="#">Корпусная мебель</a>
        </div>
        <div class="catalog__title">
            корпусная мебель
        </div>
        <div class="catalog__swiper-inner">
            <div class="catalog__swiper swiper">
                <div class="catalog__swiper-wrapper swiper-wrapper">
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Шкафы</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Комплектующие <br>и запчати</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Комоды</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Стеллажи</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Тумбочки</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                </div>
               
            </div>
            <button class="catalog__swiper-arrow">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 16" fill="none">
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="#1C1C1C" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            </button>
        </div>
        <div class="catalog__wrapper">
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>
              
            </div>
        </div>
        <div class="catalog__wrapper">

        </div>
    </div>
</section>