<section class="catalog">
    <div class="container">
        <div class="category">
            <a href="#">Главная</a>
            <a href="#">Корпусная мебель</a>
        </div>
        <div class="catalog__title">
            корпусная мебель
        </div>
        <div class="catalog__swiper-inner">
            <div class="catalog__swiper swiper">
                <div class="catalog__swiper-wrapper swiper-wrapper">
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Шкафы</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Комплектующие <br>и запчати</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Комоды</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Стеллажи</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Тумбочки</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                    <div class="catalog__slide swiper-slide">
                        <a href="#" class="catalog__slide-content">
                            <span>Буфеты</span>
                        </a>
                    </div>
                </div>

            </div>
            <button class="catalog__swiper-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16" fill="none">
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="#1C1C1C" stroke-width="1.3"
                        stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2"
                        stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2"
                        stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2"
                        stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
       
        <div class="catalog__wrap-filters">
            <form data-search-box action="#" class="all-news__search-box search-box input">
                <div class="search-box__field">
                    <input autocomplete="off" class="search-box__input txt" type="search" name="form[]"
                        placeholder="Поиск по названию" />
                </div>
                <button type="submit" class="search-box__btn">
                    <img src="./assets/images/icon/search.svg" alt="" class="search-box__btn-icon" />
                </button>
                <div class="search-box__body">
                    <ul class="search-box__list">
                        <li class="search-box__item">
                            <span class="search-box__item-txt txt">KERAMA MARAZZI</span>
                        </li>
                        <li class="search-box__item">
                            <span class="search-box__item-txt txt">KARDINAL</span>
                        </li>
                        <li class="search-box__item">
                            <span class="search-box__item-txt txt">KULIK SYSTEM</span>
                        </li>
                    </ul>
                    <span class="search-box__text txt _hidden">Нет результатов</span>
                </div>
            </form>

            <div data-da=".filters-box__form-body,768,first" class="catalog__select-one">
                <select data-show-selection data-sel-label="Сортировать" data-sel-scroll="190" name="form[]">
                    <option value="1" selected>Акции</option>
                    <option value="2">Новости</option>
                    <option value="3">Статьи</option>
                </select>
            </div>
            <div data-da=".filters-box__form-body,768,first" class="catalog__select-two">
                <select data-show-selection data-sel-label="Этаж" data-sel-scroll="190" name="form[]">
                    <option value="1" selected>Акции</option>
                    <option value="2">Новости</option>
                    <option value="3">Статьи</option>
                </select>
            </div>
            <button class="catalog__reset">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                  <path d="M5 6L25 25M25 6L5 25" stroke="#1C1C1C" stroke-width="2" stroke-linecap="round"/>
                  <path d="M5 6L25 25M25 6L5 25" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"/>
                  <path d="M5 6L25 25M25 6L5 25" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"/>
                  <path d="M5 6L25 25M25 6L5 25" stroke="black" stroke-opacity="0.2" stroke-width="2" stroke-linecap="round"/>
                  </svg>
              </button>
            <div class="catalog__wrap-filters-btns">
                <button class="catalog__wrap-filters-btn active" data-tab="1">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" fill="none">
                        <rect width="14" height="14" rx="2" />
                        <rect y="16" width="14" height="14" rx="2" />
                        <rect x="16" width="14" height="14" rx="2" />
                        <rect x="16" y="16" width="14" height="14" rx="2" />
                        </svg>
                </button>
                <button class="catalog__wrap-filters-btn" data-tab="2">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" fill="none">
                        <rect width="30" height="6" rx="2" />
                        <rect y="12" width="30" height="6" rx="2" />
                        <rect y="24" width="30" height="6" rx="2" />
                        </svg>
                </button>
            </div>
            <button type="button" class="all-news__filters-btn filters-btn _mobile-only">
                <img src="./assets/images/icon/filters.svg" alt="" class="filters-btn__icon" />
            </button>
            <div class="all-news__filters-box filters-box">
                <div class="filters-box__body">
                    <button type="button" class="filters-box__close-btn">
                        <img src="./assets/images/icon/close-black.svg" alt="" class="filters-box__close-btn-icon" />
                    </button>
                    <span class="filters-box__title tl1">фильтры</span>
                    <form data-dev action="#" class="filters-box__form">
                        <div class="filters-box__form-body"></div>
                        <div class="filters-box__actions">
                            <button data-clean-form type="button" class="filters-box__btn btn btn--black">
                                Сбросить
                            </button>
                            <button type="submit" class="filters-box__btn btn btn--yellow">
                                Показать товары
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="catalog__wrapper active" data-tab="1">
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Евродом</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <a href="#" class="market-box-b__float">
                        2 этаж
                    </a>
                    <a href="#" class="market-box-b__geo">
                        B6
                    </a>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar2.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Profil doors</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">кухни
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    
                    <div class="market-box-b__float">
                        1 этаж
                    </div>
                    <div class="market-box-b__geo">
                        A4
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar3.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Фрамир</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                   
                    <div class="market-box-b__float">
                        2 этаж
                    </div>
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <div class="market-box-b__geo">
                        B10
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Евродом</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <div class="market-box-b__float">
                        2 этаж
                    </div>
                    <div class="market-box-b__geo">
                        B6
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar2.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Profil doors</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">кухни
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    
                    <div class="market-box-b__float">
                        1 этаж
                    </div>
                    <div class="market-box-b__geo">
                        A4
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar3.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Фрамир</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <div class="market-box-b__float">
                        2 этаж
                    </div>
                    <div class="market-box-b__geo">
                        B10
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Евродом</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <div class="market-box-b__float">
                        2 этаж
                    </div>
                    <div class="market-box-b__geo">
                        B6
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar2.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Profil doors</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">кухни
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    
                    <div class="market-box-b__float">
                        1 этаж
                    </div>
                    <div class="market-box-b__geo">
                        A4
                    </div>
                </div>
            </div>
            <div class="market-box-b">
                <div class="market-box-b__block">
                    <div class="market-box-b__inner">
                        <div class="market-box-b__icon">
                            <img src="./assets/images/market-box/mar3.svg" alt="">
                        </div>
                        <div class="market-box-b__title">
                            <strong>Фрамир</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <a href="#" class="market-box-b__link">
                        Расположение<br>магазина
                    </a>
                </div>
                <div class="market-box-b__tags">
                    <div class="market-box-b__tag">Мягкая мебель и матрасы
                    </div>
                    <div class="market-box-b__tag">корпусная мебель
                    </div>
                    <div class="market-box-b__tag">столы и стулья
                    </div>
                    <div class="market-box-b__tag">двери и фурнитура
                    </div>
                </div>
                <div class="market-box-b__wrapper">
                    <div class="market-box-b__status">
                        Акция
                    </div>
                    <div class="market-box-b__float">
                        2 этаж
                    </div>
                    <div class="market-box-b__geo">
                        B10
                    </div>
                </div>
            </div>
            <div class="catalog__inner-btn">
                <button class="catalog__all-btn">
                    <span>показать</span>
                </button>
            </div>
        </div>
        <div class="catalog__wrapper" data-tab="2">
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Евродом</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar2.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Profil doors</strong>
                            <span>Магазин дверей</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar3.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Фрамир</strong>
                            <span>Межкомнатные двери</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar1.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Евродом</strong>
                            <span>Мебельный магазин</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar2.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Profil doors</strong>
                            <span>Магазин дверей</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="market-box">
                <div class="market-box__desk">
                    <div class="market-box__block">
                        <div class="market-box__image">
                            <img src="./assets/images/market-box/mar3.svg" alt="">
                        </div>
                        <div class="market-box__title">
                            <strong>Фрамир</strong>
                            <span>Межкомнатные двери</span>
                        </div>
                    </div>
                    <div class="market-box__inner">
                        <div class="market-box__float">2 этаж</div>
                        <div class="market-box__geo">B6</div>
                    </div>
                    <div class="market-box__tegs">
                        <div class="market-box__teg">Акция</div>
                    </div>
                    <a href="#" class="market-box__link">Расположение<br>магазина</a>
                </div>

            </div>
            <div class="catalog__inner-btn">
                <button class="catalog__all-btn">
                    <span>показать</span>
                </button>
            </div>
        </div>
        
    </div>
</section>