<section class="choose">
  <div class="choose__container container">
    <div class="choose__column choose__column_yellow">
      <div class="choose__text-wrap">
        <span class="choose__title tl1">Почему выбирают нас</span>
        <p class="choose__text txt">
          В стенах нашего комплекса Вы найдете все, что требуется для оформления
          интерьера Вашего дома, современного ремонта Вашей квартиры,
          строительства, обустройства садового участка.
        </p>
        <a href="#" class="choose__btn btn btn--black">арендаторам</a>
      </div>
    </div>
    <div class="choose__column">
      <div class="choose__tickers-wrap">
        <div class="choose__tickers-inner">
          <div class="choose__ticker choose__ticker_l2r swiper">
            <div class="choose__ticker-wrapper swiper-wrapper">
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/profil-doors.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/framir.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/evrodom.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/zadoor.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/prio.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
            </div>
          </div>
          <div class="choose__ticker choose__ticker_r2l swiper">
            <div class="choose__ticker-wrapper swiper-wrapper">
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/profil-doors.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/framir.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/evrodom.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/zadoor.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
              <div class="choose__ticker-slide swiper-slide">
                <div class="choose__ticker-img-wrap">
                  <img
                    src="./assets/images/tickers/prio.svg"
                    alt=""
                    class="choose__ticker-img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="choose__tickers-text txt">
          “Миллион Мелочей” представляет собой современный взгляд на привычный
          формат похода за покупками и предлагает своим посетителям максимально
          широкий выбор специализированных мебельных и интерьерных салонов,
          собранных под одной крышей
        </p>
      </div>
    </div>
  </div>
</section>
