<section class="hero-about-us">
  <div class="hero-about-us__container container">
    <div class="hero-about-us__bg-wrap">
      <img
        src="./assets/images/banner/7358de34d01a17840522cc0ca22159ff.webp"
        alt=""
        class="hero-about-us__bg" />
    </div>
    <div class="hero-about-us__privileges">
      <div class="hero-about-us__privilege-card privilege-card">
        <div class="privilege-card__head">
          <div class="privilege-card__icon-wrap">
            <img
              src="./assets/images/icon/pin-yellow.svg"
              alt=""
              class="privilege-card__icon" />
          </div>
          <span class="privilege-card__num txt">01</span>
        </div>
        <div class="privilege-card__body">
          <span class="privilege-card__heading tl3">Расположение</span>
          <p class="privilege-card__text txt">200м от метро</p>
        </div>
      </div>
      <div class="hero-about-us__privilege-card privilege-card">
        <div class="privilege-card__head">
          <div class="privilege-card__icon-wrap">
            <img
              src="./assets/images/icon/square-yellow.svg"
              alt=""
              class="privilege-card__icon" />
          </div>
          <span class="privilege-card__num txt">02</span>
        </div>
        <div class="privilege-card__body">
          <span class="privilege-card__heading tl3">Площадь</span>
          <p class="privilege-card__text txt">25 000 м</p>
        </div>
      </div>
      <div class="hero-about-us__privilege-card privilege-card">
        <div class="privilege-card__head">
          <div class="privilege-card__icon-wrap">
            <img
              src="./assets/images/icon/shop-yellow.svg"
              alt=""
              class="privilege-card__icon" />
          </div>
          <span class="privilege-card__num txt">03</span>
        </div>
        <div class="privilege-card__body">
          <span class="privilege-card__heading tl3">Магазины</span>
          <p class="privilege-card__text txt">200 брендов</p>
        </div>
      </div>
      <div class="hero-about-us__privilege-card privilege-card">
        <div class="privilege-card__head">
          <div class="privilege-card__icon-wrap">
            <img
              src="./assets/images/icon/parking-yellow.svg"
              alt=""
              class="privilege-card__icon" />
          </div>
          <span class="privilege-card__num txt">04</span>
        </div>
        <div class="privilege-card__body">
          <span class="privilege-card__heading tl3">Парковка</span>
          <p class="privilege-card__text txt">1500 мест</p>
        </div>
      </div>
    </div>
  </div>
</section>
