<section class="info">
    <div class="container">
        <div class="info__wrapper">
            <div class="info__left">
                <div class="info__text">
                    <div class="info__text-bold">ВСе для дома</div>
                    <div class="info__text-inner">
                        <strong>3</strong>
                        <span>этажа</span>
                    </div>
                </div>
                <div class="info__text">
                    <div class="info__text-inner">
                        <strong>200</strong>
                        <span>магазинов</span>
                    </div>
                    <div class="info__text-bold info__text-bold--two">и современного</div>
                    
                </div>
                <div class="info__text">
                    <div class="info__text-bold">ремонта</div>
                    <div class="info__text-inner">
                        <strong>25 000 м<sub>2 </sub></strong>
                        <span>общая площадь</span>
                    </div>
                   
                    
                </div>
            </div>
            <div class="info__right">
                <div class="info__date">
                    <span>Работаем</span>
                    <span>каждый день</span>
                    <span>с 9:00 до 21:00</span>
                </div>
                <div class="info__block">
                    <div class="info__block-street">
                        <strong>ул. Пришвина, 26
                            м. Бибирево</strong>
                        <span>Москва</span>
                    </div>
                    <div class="info__block-icons">
                        <div class="info__block-icon">
                            <svg  viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="70" height="70" rx="10" fill="#1C1C1C"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <g clip-path="url(#clip0_925_49185)">
                                <path d="M45.7754 30.5625C44.4629 24.7875 39.4254 22.1875 35.0004 22.1875C35.0004 22.1875 35.0004 22.1875 34.9879 22.1875C30.5754 22.1875 25.5254 24.775 24.2129 30.55C22.7504 37 26.7004 42.4625 30.2754 45.9C31.6004 47.175 33.3004 47.8125 35.0004 47.8125C36.7004 47.8125 38.4004 47.175 39.7129 45.9C43.2879 42.4625 47.2379 37.0125 45.7754 30.5625ZM35.0004 36.825C32.8254 36.825 31.0629 35.0625 31.0629 32.8875C31.0629 30.7125 32.8254 28.95 35.0004 28.95C37.1754 28.95 38.9379 30.7125 38.9379 32.8875C38.9379 35.0625 37.1754 36.825 35.0004 36.825Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_925_49185">
                                <rect width="30" height="30" fill="white" transform="translate(20 20)"/>
                                </clipPath>
                                </defs>
                                </svg>
                                
                        </div>
                        <div class="info__block-icon">
                            <svg  viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="70" height="70" rx="10" fill="#1C1C1C"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <rect width="70" height="70" rx="10" fill="black" fill-opacity="0.2"/>
                                <path d="M35 22.5C28.1125 22.5 22.5 28.1125 22.5 35C22.5 41.8875 28.1125 47.5 35 47.5C41.8875 47.5 47.5 41.8875 47.5 35C47.5 28.1125 41.8875 22.5 35 22.5ZM40.4375 39.4625C40.2625 39.7625 39.95 39.925 39.625 39.925C39.4625 39.925 39.3 39.8875 39.15 39.7875L35.275 37.475C34.3125 36.9 33.6 35.6375 33.6 34.525V29.4C33.6 28.8875 34.025 28.4625 34.5375 28.4625C35.05 28.4625 35.475 28.8875 35.475 29.4V34.525C35.475 34.975 35.85 35.6375 36.2375 35.8625L40.1125 38.175C40.5625 38.4375 40.7125 39.0125 40.4375 39.4625Z" fill="white"/>
                                </svg>
                                
                        </div>
                        <a href="#" class="info__block-icon info__block-icon--link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" >
                                <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="#1C1C1C" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1 8H19M19 8L12.5 1.5M19 8L12.5 14.5" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        </a>
                    </div>
                </div>
                <div class="info__map">
                    <div class="info__map-image">
                        <img src="./assets/images/info/map.svg" alt="">
                    </div>
                </div>
                <div class="info__plan">
                    <a href="#" class="info__plan-link">
                        Смотреть план<br>
                        торгового<br> 
                        комплекса
                    </a>
                </div>
            </div>
            <div class="info__mob">
                <div class="info__mob-navigation">
                    <strong>ул. Пришвина,<br> 
                        26 м. Бибирево</strong>
                       <span>С 9:00 до 21:00</span>
                </div>
                <a href="#" class="info__mob-link">
                    План ТК
                </a>
            </div>
        </div>
    </div>
</section>