<section class="landlords">
    <div class="container">
        <div class="landlords__wrapper">
            <div class="landlords__left">
                <div class="landlords__left-title">информация<br>
                    для арендаторов</div>
                <div class="landlords__left-wrapper">
                    <a href="#" class="landlords__left-box">
                        <div class="landlords__left-box-number">
                            01
                        </div>
                        <div class="landlords__left-box-text">
                            Бланк на вывоз
                            имущества
                        </div>
                    </a>
                    <a href="#" class="landlords__left-box">
                        <div class="landlords__left-box-number">
                            02
                        </div>
                        <div class="landlords__left-box-text">
                            Бланк на
                            проведение работ
                            в ночное время
                        </div>
                    </a>
                    <a href="#" class="landlords__left-box">
                        <div class="landlords__left-box-number">
                            03
                        </div>
                        <div class="landlords__left-box-text">
                            Бланк на
                            проведение работ
                            в дневное время
                        </div>
                    </a>
                    <a href="#" class="landlords__left-box">
                        <div class="landlords__left-box-number">
                            04
                        </div>
                        <div class="landlords__left-box-text">
                            Техническое
                            задание
                        </div>
                    </a>
                </div>
            </div>
            <div class="landlords__center">
                <div class="landlords__center-circle"></div>
                <a href="#" download="" class="landlords__center-link">Документы</a>
                <a href="#" download="" class="landlords__center-link">Памятка</a>
                <a href="#" download="" class="landlords__center-link">Распоряжение</a>
                <div class="landlords__center-address">
                    г. Москва,<br>
                    м. Биберево, ул. Пришвина, 26
                </div>
            </div>
            <div class="landlords__right">
                <div class="landlords__right-circle"></div>
                <div class="landlords__right-title">Адрес почты для арендаторов:</div>
                <div class="landlords__right-email">krasnov@million.ru</div>
                <button class="btn"><span>написать</span></button>
                <div class="landlords__right-scheme">
                    <div class="landlords__right-scheme-text">Схема ТВК:</div>
                    <a href="#" class="landlords__right-scheme-link">смотреть</a>
                </div>
            </div>
        </div>
    </div>
</section>
