<section class="latest-news">
  <div class="container">
    <span class="latest-news__title">Интересные новости</span>
    <div class="latest-news__list">
      <div class="latest-news__item">
        <div class="card-news">
          <a href="#" class="card-news__img-wrap">
            <img
              class="card-news__img"
              src="./assets/images/latest-news/latest-news-img1.png"
              alt="" />
          </a>
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--news">Новость</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <a href="#" class="card-news__heading"
                >Открылся Дом быта в ТЦ «Миллион мелочей»</a
              >
              <a href="#" class="card-news__link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-news__item">
        <div class="card-news">
          <a href="#" class="card-news__img-wrap">
            <img
              class="card-news__img"
              src="./assets/images/latest-news/latest-news-img2.png"
              alt="" />
          </a>
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--article">Статья</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <a href="#" class="card-news__heading"
                >Открылся Дом быта в ТЦ «Миллион мелочей»</a
              >
              <a href="#" class="card-news__link"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="latest-news__item">
        <div class="card-news">
          <a href="#" class="card-news__img-wrap">
            <img
              class="card-news__img"
              src="./assets/images/latest-news/latest-news-img3.png"
              alt="" />
          </a>
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--action">Акция</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <a href="#" class="card-news__heading"
                >Открылся Дом быта в ТЦ «Миллион мелочей»</a
              >
              <a href="#" class="card-news__link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
