<section class="latest-news">
  <div class="container">
    <div class="latest-news__title">Последние новости</div>
    <ul class="latest-news__list">
      <li class="latest-news__item">
        <div class="card-news">
          <img
            class="card-news__img"
            src="./assets/images/latest-news/latest-news-img1.png"
            alt=""
          />
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--news">Новость</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <p>Открылся Дом быта в ТЦ «Миллион мелочей»</p>
              <a class="card-news__link" href=""></a>
            </div>
          </div>
        </div>
      </li>
      <li class="latest-news__item">
        <div class="card-news">
          <img
            class="card-news__img"
            src="./assets/images/latest-news/latest-news-img2.png"
            alt=""
          />
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--article">Статья</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <p>Открылся Дом быта в ТЦ «Миллион мелочей»</p>
              <a class="card-news__link" href=""></a>
            </div>
          </div>
        </div>
      </li>
      <li class="latest-news__item">
        <div class="card-news">
          <img
            class="card-news__img"
            src="./assets/images/latest-news/latest-news-img3.png"
            alt=""
          />
          <div class="card-news__info">
            <div class="card-news__inner-wrapper">
              <span class="mark mark--action">Акция</span>
              <time class="card-news__date" datetime="2023-09-25"
                >25 сентября 2023</time
              >
            </div>
            <div class="card-news__description">
              <p>Открылся Дом быта в ТЦ «Миллион мелочей»</p>
              <a class="card-news__link" href=""></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
