<section class="latest-news">
  <div class="container">
    <div class="latest-news__title">Последние новости</div>
    <ul class="latest-news__list">
      <li class="latest-news__card">
        <div class="news-card">
          <img
            class="news-card__img"
            src="./assets/images/latest-news/latest-news-img1.png"
            alt=""
          />
          <div>
            <div>
              <span>Новость</span>
              <time datetime="2023-09-25">25 сентября 2023</time>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
