<section class="main">
  <div class="container">
    <div class="main__mobile">
      <h2 class="main__mobile-title">ВСе для дома и современного ремонта</h2>
      <h2 class="main__mobile-inner">
        <div class="main__mobile-info">
          <strong>25 000 м<sup>2</sup></strong>
          <span>общая площадь</span>
        </div>
        <div class="main__mobile-info">
          <strong>200</strong>
          <span>магазинов</span>
        </div>
        <div class="main__mobile-info">
          <strong>3</strong>
          <span>этажа</span>
        </div>
      </h2>
    </div>
    <div class="main__wrapper">
      <div class="main__swiper-one swiepr">
        <div class="main__swiper-wrapper-one swiper-wrapper">
          <div class="main__one-s swiper-slide">
            <div class="main__one-s-content">
              <div class="main__one-s-image">
                <img
                  class="main__one-s-image-d"
                  src="./assets/images/main/main1.png"
                  alt=""
                />
                <img
                  class="main__one-s-image-m"
                  src="./assets/images/main/divan-m.png"
                  alt=""
                />
              </div>
              <div class="main__one-s-inner">
                <div class="main__one-s-text">
                  Вышла из производства первая партия Спальня ЛАЛИ в новом
                  бежевом цвете
                </div>
                <button class="btn"><span>подробнее</span></button>
              </div>
            </div>
          </div>
          <div class="main__one-s swiper-slide">
            <div class="main__one-s-content">
              <div class="main__one-s-image">
                <img src="./assets/images/main/main1.png" alt="" />
              </div>
              <div class="main__one-s-inner">
                <div class="main__one-s-text">
                  Вышла из производства первая партия Спальня ЛАЛИ в новом
                  бежевом цвете
                </div>
                <button class="btn"><span>подробнее</span></button>
              </div>
            </div>
          </div>
          <div class="main__one-s swiper-slide">
            <div class="main__one-s-content">
              <div class="main__one-s-image">
                <img src="./assets/images/main/main1.png" alt="" />
              </div>
              <div class="main__one-s-inner">
                <div class="main__one-s-text">
                  Вышла из производства первая партия Спальня ЛАЛИ в новом
                  бежевом цвете
                </div>
                <button class="btn"><span>подробнее</span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination main__swiper-one-pagination">
          <div class="pagination__bullets main__swiper-one-pagination-bullets">
            <span class="swiper-pagination-bullet-one"></span>
            <span class="swiper-pagination-bullet-one"></span>
            <span class="swiper-pagination-bullet-one"></span>
          </div>
        </div>
      </div>
      <div class="main__stock">
        <div class="main__stock-image-d">
          <img src="./assets/images/main/yellow-bg-d.png" alt="" />
        </div>
        <div class="main__stock-image-m">
          <img src="./assets/images/main/yellow-mob.png" alt="" />
        </div>
        <div class="main__stock-icon">
          <svg
            viewBox="0 0 70 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="70" height="70" rx="10" fill="white" />
            <path
              d="M22.373 47.7552L46.7555 23.3727"
              stroke="#1C1C1C"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.373 47.7552L46.7555 23.3727"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.373 47.7552L46.7555 23.3727"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22.373 47.7552L46.7555 23.3727"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              fill="#1C1C1C"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              stroke="#1C1C1C"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              fill="#1C1C1C"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              fill="black"
              fill-opacity="0.2"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              stroke="#1C1C1C"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z"
              stroke="black"
              stroke-opacity="0.2"
              stroke-width="1.3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <a href="#" class="main__stock-link"> Все акции и новости </a>
        <div class="main__stock-text">
          Последние новости, актуальные акции и полезные статьи
        </div>
      </div>
      <div class="main__swiper-two swiper">
        <div class="main__swiper-wrapper-two swiper-wrapper">
          <a href="#" class="main__slide-t swiper-slide">
            <div class="main__slide-t-content">
              <div class="main__slide-t-bg">
                <img
                  class="main__slide-t-bg-d"
                  src="http://test.million.ru/upload/iblock/3e5/0frsl4gc5r9ej7vefkhmf74ye3eebp4j/0.jpg"
                  alt=""
                />
                <img
                  class="main__slide-t-bg-m"
                  src="http://test.million.ru/upload/iblock/3e5/0frsl4gc5r9ej7vefkhmf74ye3eebp4j/0.jpg"
                  alt=""
                />
              </div>
              <div class="main__slide-t-wrapper">
                <div class="main__slide-t-left">
                  <div class="main__slide-t-date">
                    <span>До 11 октября</span>
                  </div>
                  <div class="main__slide-t-text">
                    Приглашаем на кулинарные мастер-классы Zwilling. Каждую
                    субботу в 12:00
                  </div>
                  <div class="main__slide-t-text-mob">
                    Приглашаем на кулинарные мастер-классы Zwilling
                  </div>
                  <button class="btn"><span>подробнее</span></button>
                </div>
                <div class="main__slide-t-right">
                 
                  <button class="main__slide-t-link"
                    >Эра 2 этаж, пав. В 26/3</button>
                </div>
              </div>
            </div>
          </a>
          <div class="main__slide-t swiper-slide">
            <div class="main__slide-t-content">
              <div class="main__slide-t-bg">
                <img
                  class="main__slide-t-bg-d"
                  src="http://test.million.ru/upload/iblock/706/xb807a8rabf5r5tmlc4pq4swqqgznzsl/banner_2000x1000.jpg"
                  alt=""
                />
                <img
                  class="main__slide-t-bg-m"
                  src="http://test.million.ru/upload/iblock/706/xb807a8rabf5r5tmlc4pq4swqqgznzsl/banner_2000x1000.jpg"
                  alt=""
                />
              </div>
              <div class="main__slide-t-wrapper">
                <div class="main__slide-t-left">
                  <div class="main__slide-t-date">
                    <span>До 11 октября</span>
                  </div>
                  <div class="main__slide-t-text">
                    Приглашаем на кулинарные мастер-классы Zwilling. Каждую
                    субботу в 12:00
                  </div>
                  <div class="main__slide-t-text-mob">
                    Приглашаем на кулинарные мастер-классы Zwilling
                  </div>
                  <button class="btn"><span>подробнее</span></button>
                </div>
                <div class="main__slide-t-right">
                
                  <button class="main__slide-t-link"
                  >Эра 2 этаж, пав. В 26/3</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination main__swiper-two-pagination">
          <div class="pagination__bullets main__swiper-two-pagination-bullets">
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
