<section class="main">
    <div class="container">
        <div class="main__mobile">

        </div>
        <div class="main__wrapper">
            <div class="main__swiper-one swiepr">
                <div class="main__swiper-wrapper-one swiper-wrapper">
                    <div class="main__one-s swiper-slide">
                        <div class="main__one-s-content">
                            <div class="main__one-s-image">
                                <img src="./assets/images/main/main1.png" alt="">
                            </div>
                            <div class="main__one-s-inner">
                                <div class="main__one-s-text">Вышла из производства первая партия Спальня ЛАЛИ  в новом бежевом цвете</div>
                                <button class="btn"><span>подробнее</span></button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="main__one-s swiper-slide">
                        <div class="main__one-s-content">
                            <div class="main__one-s-image">
                                <img src="./assets/images/main/main1.png" alt="">
                            </div>
                            <div class="main__one-s-inner">
                                <div class="main__one-s-text">Вышла из производства первая партия Спальня ЛАЛИ  в новом бежевом цвете</div>
                                <button class="btn"><span>подробнее</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="main__one-s swiper-slide">
                        <div class="main__one-s-content">
                            <div class="main__one-s-image">
                                <img src="./assets/images/main/main1.png" alt="">
                            </div>
                            <div class="main__one-s-inner">
                                <div class="main__one-s-text">Вышла из производства первая партия Спальня ЛАЛИ  в новом бежевом цвете</div>
                                <button class="btn"><span>подробнее</span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination main__swiper-one-pagination">
                    <div class="main__swiper-one-pagination-bullets"></div>
                </div>
            </div>
            <div class="main__stock">
                <div class="main__stock-icon">
                    <svg  viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="70" height="70" rx="10" fill="white"/>
                        <path d="M22.373 47.7552L46.7555 23.3727" stroke="#1C1C1C" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.373 47.7552L46.7555 23.3727" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.373 47.7552L46.7555 23.3727" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22.373 47.7552L46.7555 23.3727" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" fill="#1C1C1C"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" fill="black" fill-opacity="0.2"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" fill="black" fill-opacity="0.2"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" fill="black" fill-opacity="0.2"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" stroke="#1C1C1C" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.5858 32.1714C29.1184 32.1714 31.1714 30.1184 31.1714 27.5858C31.1714 25.0531 29.1184 23 26.5858 23C24.0531 23 22 25.0531 22 27.5858C22 30.1184 24.0531 32.1714 26.5858 32.1714Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" fill="#1C1C1C"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" fill="black" fill-opacity="0.2"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" fill="black" fill-opacity="0.2"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" fill="black" fill-opacity="0.2"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" stroke="#1C1C1C" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M43.363 47.5313C45.8956 47.5313 47.9487 45.4781 47.9487 42.9455C47.9487 40.4129 45.8956 38.3599 43.363 38.3599C40.8304 38.3599 38.7773 40.4129 38.7773 42.9455C38.7773 45.4781 40.8304 47.5313 43.363 47.5313Z" stroke="black" stroke-opacity="0.2" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </div>
                <a href="#" class="main__stock-link">
                    Все акции и новости
                </a>
                <div class="main__stock-text">
                    Последние новости, актуальные акции и полезные статьи
                </div>
            </div>
            <div class="main__swiper-two swiper">
                <div class="main__swiper-wrapper-two swiper-wrapper">
                    <div class="main__slide-t">
                        <div class="main__slide-t-content">
                            <div class="main__slide-t-bg">
                                <img src="./assets/images/main/slider-two.png" alt="">
                               
                            </div>
                            <div class="main__slide-t-wrapper">
                                <div class="main__slide-t-left">
                                    <div class="main__slide-t-date">
                                        <span>До 11 октября</span>
                                    </div>
                                    <div class="main__slide-t-text">
                                        Приглашаем на кулинарные мастер-классы Zwilling. Каждую субботу в 12:00
                                    </div>
                                    <button class="btn"><span>подробнее</span></button>
                                </div>
                                <div class="main__slide-t-right">
                                    <div class="main__slide-t-icon">
                                        <img src="./assets/images/main/check.svg" alt="">
                                    </div>
                                    <a href="#" class="main__slide-t-link">Эра 2 этаж, пав. В 26/3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination main__swiper-two-pagination">
                    <div class="main__swiper-two-pagination-bullets"></div>
                </div>
            </div>
        </div>
    </div>
</section>