<section class="news-main">
  <div class="news-main__wrapper container">
    <div class="news-main__left-column">
      <div class="news-main__img-wrapper">
        <img
          class="news-main__img news-main__img-left"
          src="./assets/images/news-main/news-main-img-1.png"
          alt=""
        />
      </div>
      <img
        class="news-main__text-logo"
        src="./assets/images/news-main/text-logo.svg"
        alt=""
      />
    </div>
    <div class="news-main__center-top-column">
      <div class="news-main__title">Новости, акции и статьи</div>
      <ul class="news-main__list">
        <li class="news-main__item">
          <a class="news-main__link" href="">О ремонте</a>
        </li>
        <li class="news-main__item">
          <a class="news-main__link" href="">О торговом центре</a>
        </li>
        <li class="news-main__item">
          <a class="news-main__link" href="">О новинках</a>
        </li>
        <li class="news-main__item">
          <a class="news-main__link" href="">О скидках</a>
        </li>
      </ul>
    </div>
    <div class="news-main__center-column">
      <div class="news-main__info">
        В этом разделе вы найдёте последние новости, актуальные акции и полезные
        статьи
      </div>
      <div class="news-main__more-wrapper">
        <span class="news-main__more-info">Читать самое интересное</span>
        <img
          class="news-main__arrow-img"
          src="./assets/images/news-main/arrow-more.svg"
          alt=""
        />
      </div>
    </div>
    <div class="news-main__right-column">
      <div class="news-main__img-wrapper">
        <img
          class="news-main__img news-main__img-right"
          src="./assets/images/news-main/news-main-img-2.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
