<section class="news-main">
  <div class="news-main__wrapper container">
    <!-- <div class="news-main__left-column">
      <div class="news-main__img-wrapper">
        <img
          class="news-main__img news-main__img-left"
          src="./assets/images/news-main/news-main-img-1.png"
          alt="" />
      </div>
      <img
        class="news-main__text-logo"
        src="./assets/images/news-main/text-logo.svg"
        alt="" />
    </div> -->
    <div class="news-main__center-top-column">
      <span class="news-main__title">Новости, акции и статьи</span>
      <!-- <ul class="news-main__list">
        <li class="news-main__item">
          <div lass="news-main__link">О ремонте</div>
        </li>
        <li class="news-main__item">
          <div class="news-main__link">О торговом центре</div>
        </li>
        <li class="news-main__item">
          <div class="news-main__link">О новинках</div>
        </li>
        <li class="news-main__item">
          <div class="news-main__link">О скидках</div>
        </li>
      </ul> -->
    </div>
    <!-- <div class="news-main__center-column">
      <p class="news-main__info">
        В этом разделе вы найдёте последние новости, актуальные акции и полезные
        статьи
      </p>
      <div class="news-main__more-wrapper">
        <a href="#" data-goto=".latest-news" class="news-main__more-inner">
          <span class="news-main__more-info">Читать самое интересное</span>
          <img
            class="news-main__arrow-img"
            src="./assets/images/news-main/arrow-more.svg"
            alt="" />
        </a>
      </div>
    </div>
    <div class="news-main__right-column">
      <div class="news-main__img-wrapper">
        <img
          class="news-main__img news-main__img-right"
          src="./assets/images/news-main/news-main-img-2.png"
          alt="" />
      </div>
    </div> -->
  </div>
</section>
