<section class="partners">
    <div class="container">
        <div class="partners__wrapper">
         
            <div class="partners__swiper swiper">
              <div class="partners__swiper-wrapper swiper-wrapper ">
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame1.svg" alt="">
                  </div>
                  
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame2.svg" alt="">
                  </div>
                  
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame3.svg" alt="">
                   </div>
                 
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame4.svg" alt="">
                  </div>
                 
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame5.svg" alt="">
                  </div>
                  
                </a>
                <a href=# class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame1.svg" alt="">
                  </div>
                  
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame2.svg" alt="">
                  </div>
                  
                </a>
                <a href=# class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame3.svg" alt="">
                  </div>
                  
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame4.svg" alt="">
                  </div>
                  
                </a>
                <a href="#" class="swiper-slide partners__slide">
                  <div class="partners__slide-box">
                    <img src="./assets/images/partners/frame5.svg" alt="">
                  </div>
                  
                </a>
                
              </div>
            </div>
          
        </div>
        
    </div>
</section>