<section class="service">
  <div class="container">
    <h2 class="service__title">Услуги</h2>
    <div class="service__wrapper">
      <div class="service__left">
        <div class="service__left-inner">
          <a href="#" class="service__tourist service-white">
            <h3 class="service__tourist-title service-title-box">
              Туристические<br />
              агенства
            </h3>
            <div class="service__tourist-image">
              <img src="./assets/images/service/imgd1.png" alt="" />
            </div>
          </a>
          <a href="#" class="service__bank service-color">
            <h3 class="service__bank-title service-title-box">Банкоматы</h3>
            <div class="service__bank-image">
              <img src="./assets/images/service/imgd2.png" alt="" />
            </div>
          </a>
          <a href="#" class="service__slicing service-white">
            <h3 class="service__slicing-title service-title-box">
              Нарезка резьбы<br />на трубах
            </h3>
            <div class="service__slicing-image">
              <img src="./assets/images/service/imgd3.png" alt="" />
            </div>
          </a>
        </div>
      </div>
      <div class="service__center">
        <a href="#" class="service__nutrition service-color">
          <h3 class="service__nutrition-title service-title-box">
            Общественное питание
          </h3>
          <div class="service__nutrition-image">
            <img src="./assets/images/service/imgd4.png" alt="" />
          </div>
        </a>
      </div>
      <div class="service__right">
        <a href="#" class="service__cutting service-white">
          <h3 class="service__cutting-title service-title-box">
            Резка<br />стекла
          </h3>
          <div class="service__cutting-image">
            <img src="./assets/images/service/imgd5.png" alt="" />
          </div>
        </a>
        <a href="#" class="service__repair service-color">
          <h3 class="service__repair-title service-title-box">Ремонт</h3>
          <div class="service__repair-image">
            <img src="./assets/images/service/imgd6.png" alt="" />
          </div>
        </a>
      </div>
    </div>
    <div class="service__bottom">
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
      <a href="#" class="service__tourist service-white">
        <h3 class="service__tourist-title service-title-box">
          Туристические<br />
          агенства
        </h3>
        <div class="service__tourist-image">
          <img src="./assets/images/service/imgd1.png" alt="" />
        </div>
      </a>
    </div>
  </div>
</section>
