<section class="service">
    <div class="container">
        <div class="service__title">
            Услуги
        </div>
        <div class="service__wrapper">
            <div class="service__left">
                <div class="service__left-inner">
                    <a href="#" class="service__tourist">
                        <div class="service__tourist-title">
                            Туристические<br> агенства
                        </div>
                        <div class="service__tourist-image">
                            <img src="./assets/images/service/imgd1.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="service__bank">
                        <div class="service__bank-title">
                            Банкоматы
                        </div>
                        <div class="service__bank-image">
                            <img src="./assets/images/service/imgd2.png" alt="">
                        </div>
                    </a>
                    <a href="#" class="service__slicing">
                        <div class="service__slicing-title">
                            Нарезка резьбы<br>на трубах
                        </div>
                        <div class="service__slicing-image">
                            <img src="./assets/images/service/imgd3.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="service__center">
                <a href="#" class="service__nutrition">
                    <div class="service__nutrition-title">
                        Общественное питание
                    </div>
                    <div class="service__nutrition-image">
                        <img src="./assets/images/service/imgd4.png" alt="">
                    </div>
                </a>
            </div>
            <div class="service__right">
                <a href="#" class="service__cutting">
                    <div class="service__cutting-title">
                        Резка<br>стекла
                    </div>
                    <div class="service__cutting-image">
                        <img src="./assets/images/service/imgd5.png" alt="">
                    </div>
                </a>
                <a href="#" class="service__repair">
                    <div class="service__repair-title">
                        Ремонт
                    </div>
                    <div class="service__repair-image">
                        <img src="./assets/images/service/imgd6.png" alt="">
                    </div>
                </a>

                
            </div>
        </div>
    </div>
</section>