<section class="shops">
  <div class="shops__container container">
    <div data-da=".shops__head-row,768,first" class="shops__side-img-wrap">
      <img
        src="./assets/images/shops/14300f814314f28ca266446b55c75778.webp"
        alt=""
        class="shops__side-img" />
    </div>
    <div class="shops__content">
      <div class="shops__head">
        <span class="shops__title tl1">Магазины нашего комплекса</span>
        <div class="shops__head-row _mobile-only"></div>
        <span class="shops__subtitle subtitle">ТВК “Миллион мелочей” это</span>
      </div>
      <div class="shops__body">
        <div class="shops__info">
          <div class="shops__text-wrap">
            <span class="shops__heading tl4">Всё что нужно для дома</span>
            <p class="shops__text txt">
              В стенах нашего комплекса Вы найдете все, что требуется для
              оформления интерьера Вашего дома, современного ремонта Вашей
              квартиры.
            </p>
            <p class="shops__text txt">
              Здесь вас ждет широкий выбор корпусной и мягкой мебели, столов и
              стульев, готовых решений для гостиных и кухонь. Помимо этого, у
              нас представлен большой ассортимент осветительных приборов,
              сантехники и отделочных материалов для ремонта.
            </p>
          </div>
          <div class="shops__text-wrap">
            <span class="shops__heading tl4">Удобное расположение</span>
            <p class="shops__text txt">
              ТВК Миллион Мелочей удобно расположен близко к центру и недалеко
              от ТТК. Всего несколько минут пешком от станции метро «Биберево»,
              и вы окажетесь в современном комплексе, который объединил под
              одной крышей более 300 мебельных салонов. В ТВК Миллион Мелочей
              все создано для вашего удобства – просторная парковка, уютные кафе
              и рестораны, возможность сделать покупки в кредит.
            </p>
          </div>
        </div>
        <div data-da=".shops__head-row,768,last" class="shops__image-wrap">
          <img
            src="./assets/images/shops/323282ffa56d537b77f0e6a93b34ebab.webp"
            alt=""
            class="shops__image" />
        </div>
      </div>
      <a href="#" class="shops__btn btn btn--black">о компании</a>
    </div>
  </div>
</section>
