<section class="chapter-page">
  <div class="chapter-page__container container">
    <div data-da=".chapter-page__content,768,first" class="chapter-page__aside">
      <div class="chapter-page__shop-card shop-card">
        <div class="shop-card__carousel">
          <div class="shop-card__slider swiper">
            <div class="shop-card__wrapper swiper-wrapper">
              <div class="shop-card__slide swiper-slide">
                <div class="shop-card__sl-img-wrap">
                  <img
                    src="./assets/images/chapter-page/3fefd15b85afad6b4a63dfc42c43018d.webp"
                    alt=""
                    class="shop-card__sl-image" />
                </div>
              </div>
              <div class="shop-card__slide swiper-slide">
                <div class="shop-card__sl-img-wrap">
                  <img
                    src="./assets/images/chapter-page/3fefd15b85afad6b4a63dfc42c43018d.webp"
                    alt=""
                    class="shop-card__sl-image" />
                </div>
              </div>
              <div class="shop-card__slide swiper-slide">
                <div class="shop-card__sl-img-wrap">
                  <img
                    src="./assets/images/chapter-page/3fefd15b85afad6b4a63dfc42c43018d.webp"
                    alt=""
                    class="shop-card__sl-image" />
                </div>
              </div>
            </div>
          </div>
          <div class="shop-card__slider-pagination pagination">
            <div class="pagination__bullets"></div>
          </div>
        </div>
        <div class="shop-card__content">
          <div class="shop-card__head">
            <span class="shop-card__heading tl4">Мебельный магазин</span>
            <a href="#" class="shop-card__link link">
              <span class="link__text txt">Расположение магазина</span>
              <svg
                class="link__icon"
                width="134"
                height="14"
                viewBox="0 0 134 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 7.07007H133" stroke="#1C1C1C" stroke-width="1.3" />
                <path
                  d="M1 7.07007H133"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3" />
                <path
                  d="M1 7.07007H133"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3" />
                <path
                  d="M1 7.07007H133"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3" />
                <path
                  d="M127 1L133 7L127 13"
                  stroke="#1C1C1C"
                  stroke-width="1.3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M127 1L133 7L127 13"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M127 1L133 7L127 13"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M127 1L133 7L127 13"
                  stroke="black"
                  stroke-opacity="0.2"
                  stroke-width="1.3"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
          <div class="shop-card__contacts">
            <a
              href="tel:88008008080"
              class="shop-card__group-item shop-card__group-item_phone txt">
              8 (800) 800 80 80
            </a>
            <a
              href="#"
              class="shop-card__group-item shop-card__group-item_site txt"
              >http://million.ru/</a
            >
          </div>
          <div class="shop-card__info">
            <div class="shop-card__label mark mark--action">Акция</div>
            <div class="shop-card__group-item shop-card__group-item_floor txt">
              2 этаж
            </div>
            <div class="shop-card__group-item shop-card__group-item_place txt">
              B6
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chapter-page__content">
      <div class="chapter-page__title-wrap">
        <div class="chapter-page__title-icon-wrap">
          <img
            src="./assets/images/icon/evrodom-icon.svg"
            alt=""
            class="chapter-page__title-icon" />
        </div>
        <span class="chapter-page__title tl1">Евродом</span>
      </div>
      <div class="chapter-page__text-wrap">
        <p class="chapter-page__text txt">
          Магазин "Евродом" - это уютное место, где представлен широкий
          ассортимент качественной мебели.
        </p>
        <div class="chapter-page__text txt">
          Магазин "Евродом" привлекает внимание своим современным и стильным
          дизайном. Фасад здания выполнен в современном стиле с использованием
          стекла и металла, что создает элегантный и современный облик. При
          входе в магазин, посетители встречаются с просторным и хорошо
          освещенным залом, где размещены различные коллекции мебели. Полки и
          стеллажи организованы таким образом, чтобы каждая модель мебели была
          видна и доступна для клиентов. Цветовая палитра в магазине "Евродом”
          сдержанная и элегантная, чтобы подчеркнуть качество и стиль
          представленной мебели. Использованы нейтральные тона, такие как
          бежевый, серый или белый, чтобы создать атмосферу спокойствия и
          гармонии.
        </div>
        <div class="chapter-page__text txt">
          Мебель в "Евродоме" отличается высоким качеством и продуманным
          дизайном. Здесь можно найти различные предметы мебели, начиная от
          мягкой мебели, такой как диваны и кресла, до столов, стульев и шкафов.
          Каждая модель мебели характеризуется прочностью, комфортом и
          эстетическим внешним видом.
        </div>
        <div class="chapter-page__text txt">
          Мебель в "Евродоме" отличается высоким качеством и продуманным
          дизайном. Здесь можно найти различные предметы мебели, начиная от
          мягкой мебели, такой как диваны и кресла, до столов, стульев и шкафов.
          Каждая модель мебели характеризуется прочностью, комфортом и
          эстетическим внешним видом.
        </div>
        <div class="chapter-page__text txt">
          Персонал магазина "Евродом" внимателен и готов помочь клиентам в
          выборе и покупке мебели. Они обладают глубокими знаниями о каждой
          модели и могут дать профессиональные рекомендации, чтобы помочь
          клиентам принять правильное решение.
        </div>
        <div class="chapter-page__text txt">
          Магазин "Евродом" создает атмосферу комфорта и роскоши, где каждый
          клиент может найти идеальную мебель для своего дома или офиса.
        </div>
      </div>
    </div>
  </div>
</section>
