<section class="chapter-page">
  <div class="chapter-page__container container">
    <div data-da=".chapter-page__content,768,2" class="chapter-page__aside">
      <div class="chapter-page__video-wrap">
        <video
          id="video-js"
          class="chapter-page__video video-js vjs-styles-dimensions">
          <source
            src="https://yourimageshare.com/ib/sXSG6cbEiF.mp4"
            type="video/mp4" />
        </video>
      </div>

      <div class="chapter-page__aside-group">
        <div class="chapter-page__shop-logo-wrap">
          <img
            src="./assets/images/chapter-page/evrodom-logo.svg"
            alt=""
            class="chapter-page__shop-logo" />
        </div>
        <a href="#" class="chapter-page__link link">
          <span class="link__text txt">Расположение магазина</span>
          <svg
            class="link__icon"
            xmlns="http://www.w3.org/2000/svg"
            width="134"
            height="15"
            viewBox="0 0 134 15"
            fill="none">
            <path d="M1 7.57001H133" stroke="#1C1C1C" stroke-width="1.3" />
            <path
              d="M127 1.5L133 7.5L127 13.5"
              stroke="#1C1C1C"
              stroke-width="1.3"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>
    </div>
    <div class="chapter-page__content">
      <span class="chapter-page__title tl2"
        >Эксклюзивная акция: Обновите свой дом с новой коллекцией мебели!</span
      >
      <div class="chapter-page__labels">
        <div class="chapter-page__label mark mark--white">До 11 октября</div>
        <div class="chapter-page__label mark mark--action">Акция</div>
      </div>
      <div class="chapter-page__text-wrap">
        <p class="chapter-page__text txt">
          Вот и наступила чудесная, нарядная и золотая пора - осень! Когда, как
          не осенью, дышать чистым прохладным воздухом и проводить теплые вечера
          в кругу семьи.
        </p>
        <p class="chapter-page__text txt">
          Чтобы сохранить уют и тепло в Вашем доме и не беспокоиться о
          сохранности квартиры, стоит задуматься о том, как её защитить, ведь
          жилье нуждается в особой защите от воров и взломщиков.
        </p>
        <p class="chapter-page__text txt">
          Самым верным решением станут для Вас двери ЭЛЬБОР! Благодаря
          взломостойкой двери ЭЛЬБОР можно больше не бояться незваных гостей.
          Если Вы уже решили обезопасить свой дом, то приятной новостью станет
          то, что компания ЭЛЬБОР дарит своим покупателям скидки на
          взломостойкие двери!
        </p>
      </div>
    </div>
  </div>
</section>
